{% extends "books/base.html" %}

{% block controls %}
    <li>
        <a href="{% url 'books:new-book' %}">Add book</a>
    </li>
{% endblock %}

{% block content %}
    {% for book in books %}
    <div class="card">
        <div class="card-header">
            {{ book.title }}
        </div>
        <div class="card-content p-2">
            <p class="fg-gray">ISBN {{ book.isbn|default:"not provided" }}</p>
            by {{ book.authors_info|default:"anonymous" }}
        </div>
        <div class="card-footer fg-green" style="font-size: 24px;">
            $ {{ book.price|default:"Not avaliable" }}
        </div>
    </div>
    {% empty %}
        <p class="text-leader">
            Nothing to display here
        </p>
        <p class="text-leader2">
            Sorry, we have no one book avaliable for this moment. Please, come back later! 
        </p>
    {% endfor %}
{% endblock %}