{% extends "books/base.html" %}

{% block controls %}
    {% if perms.books.add_book %}
        {% include "books/add_control.html" %}
    {% endif %}
    {% if user.is_staff %}
        <li>
            <a href="{% url 'booksadmin:index' %}">Manage</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% for book in books %}
    <div class="card">
        <div class="card-header">
            {{ book.title }}
            {% if perms.books.change_book %}
                <a href="{% url 'books:update-book' book.id %}">
                    <span class="mif-pencil"></span>
                </a>
            {% endif %}
        </div>
        <div class="card-content p-2">
            <p class="fg-gray">ISBN {{ book.isbn|default:"not provided" }}</p>
            by {{ book.authors_info|default:"anonymous" }}
            <p class="fg-gray">Published at {{ book.publish_date|default:"recently" }}</p>
        </div>
        <div class="card-footer fg-green" style="font-size: 24px;">
            $ {{ book.price|default:"Not avaliable" }}
        </div>
    </div>
    {% empty %}
        <p class="text-leader">
            Nothing to display here
        </p>
        <p class="text-leader2">
            Sorry, we have no one book avaliable for this moment. Please, come back later! 
        </p>
    {% endfor %}
{% endblock %}