{% extends "books/base.html" %}

{% block title %}
    Update {{ form.title.value }} 
{% endblock %}

{% block controls %}
{% include "books/add_control.html" %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% include "books/form_template.html" %}
        <div class="form-group">
            <button class="button success">Update</button>
            <input type="button" class="button" onclick="window.location.assign({% url 'books:index' %})" value="Cancel">
        </div>       
    </form>
{% endblock %}